* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    font-size: 16px;
    display: grid;
    place-items: center;
    
}

body {
    background-color: #f8f4ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 0;
    font-family: 'Georgia', serif
}

#personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#personal p {
    margin: 0.2em;
    font-size: 1.5em;
}

#trabajos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4em auto 0;
    gap: 1em;
    width: 15.5em;
}
#trabajos p{
    margin: 0;
    font-weight: 700;
    font-size: 1.35em;
}

#trabajos a {
    border-radius: 10px;
    border: 1px purple solid;
    padding: 1em;
    background-color: lightgray;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    width: 100%;
    height: 4em;
    overflow: hidden;
    position: relative;
    transition: color 0.5s;
}

#trabajos a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: purple;
    transition: left 0.5s;
    z-index: -1;
}

#trabajos a:hover::before {
    left: 0;
}

#trabajos a:hover {
    color: white;
    z-index: 1;
}


#trabajos a img {
    width: 40px; 
    height: auto;
    border-radius: 20px;
}

#trabajos a span {
    flex-grow: 1;
    text-align: left;
    margin-left: 1em;
}

/* FLIP CARD */
.flip-card {
    background-color: transparent;
    width: 200px;  
    height: 200px;  
    perspective: 1000px;  
    margin-bottom: 1em;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;  
    transform-style: preserve-3d;  
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);  
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;  
}

.flip-card-front {
    width: 200px;
}

.flip-card-back {
    transform: rotateY(180deg);  
}

.flip-card img {
    width: 100%;  
    height: 100%;  
    border-radius: 50%;  
}

@media (max-width: 600px) {
    #trabajos {
        margin: 2em auto 0;
    }

    html {
        font-size: 14px;
    }
}