* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    font-size: 16px;
    display: grid;
    place-items: center;
}

body {
    background-color: #f8f4ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 0;
}

#personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#personal img {
    margin-bottom: 1em;
    width: 200px;
}

#personal p {
    margin: 0.2em;
    font-size: 1.5em;
}

#trabajos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4em auto 0;
    gap: 1em;
    width: 15em;
}
#trabajos p{
    margin: 0;
    font-weight: 700;
    font-size: 1.35em;
}

a {
    border-radius: 10px;
    border: 1px purple solid;
    padding: 1em;
    background-color: lightgray;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    width: 100%;
    height: 4em;
}

a img {
    width: 40px; 
    height: auto;
    border-radius: 20px;
}

a span {
    flex-grow: 1;
    text-align: left;
    margin-left: 1em;
}


@media (max-width: 600px) {
    #trabajos {
        margin: 2em auto 0;
    }

    html {
        font-size: 14px;
    }
}